{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Sobre Nosostros</h1>
    </div>   
    
    <div class="col-3">
        <img src="assets/img/Ayrton Senna.JPG" class="img-thumbnail" alt="">

    </div>

</div>






{{> footer}}